kubernetes>=28.1.0
python-dateutil>=2.8.2 
google-adk 
# Required for proprietary models
litellm>=1.63.11
# Required for Bedrock models
boto3==1.38.7
# Required for MCP
uv==0.7.2
# Required for PostgreSQL database connection
psycopg2-binary>=2.9.9
